.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 1);
  align-items: center;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 1);
  max-width: 1300px;
  width: 100%;
}
