.delete-button {
}

.delete-button {
  margin: 0;
  padding: 0;
  grid-area: button;
  background-color: rgba(49, 49, 49, 1);
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 24px;
  background-image: url(../../images/delete-button.svg);
  cursor: pointer;
  background-position: center;
  background-size: 10px 8px;
  background-repeat: no-repeat;
  opacity: 0;
}

.delete-button:hover {
  opacity: 1;
  transition: 0.5s;
}
