.checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 47, 47, 1);
  padding: 0 30px 0 30px;
}

.checkbox__switcher {
  height: 20px;
  width: 36px;
  border-radius: 20px;
  background-color: rgba(235, 235, 235, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.checkbox__indicator {
  height: 16px;
  width: 16px;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 1);
  box-sizing: border-box;
  margin: 0 2px;
}

.checkbox__switcher_active {
  background-color: rgba(43, 224, 128, 1);
  justify-content: end;
}

.checkbox__indicator_active {
  background-color: rgba(255, 255, 255, 1);
}

.checkbox__input {
  z-index: -1;
  opacity: 0;
  position: absolute;
}

.checkbox__title {
  margin: 0 0 0 14px;
  padding: 0;
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 780px) {
  .checkbox {
    padding: 0 20px 0 20px;
  }
}

@media (max-width: 450px) {
  .checkbox {
    background-color: rgba(32, 32, 32, 1);
  }

  .checkbox__title {
    font-size: 11px;
  }
}
